* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #101010;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* TODO: Use the calc() css function for responsive design */
i {
  font-size: 4rem;
}

.jumbotron {
  display: flex;
  align-items: end;
  justify-content: space-between;

  padding: 1rem;
  background-color: #202020;
  height: 20rem;
}

.main-content {
  padding: 1rem;
}

.summary {
  display: flex;
  height: 20rem;
}

.sub-summary {
  flex: 0.5;
}

.main-summary {
  flex: 1;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.main-summary > * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weather-list {
  display: flex;
  height: 20rem;
}

.weather-list > * {
  flex: 1;
}

.week-forecast-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 10rem;
}

.day-forecast {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

img.svg {
  color: white;
}
